* {
  user-select: none;
  -ms-user-select: none;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}
/* browser size,canvas size 100% */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #161e38;
}

canvas {
  width: 100%;
  height: 100%;
}

.text {
  color: #eee;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid antiquewhite;
}
